// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ color defaults

$white:           #fff;

$black:           #000;

$lightBlue:       #DFEFFF;

$lightGrey:       #BFBFBF;
$grey:            #ccc;
$mediumGrey:      #808080;
$darkGrey:        #666;
