/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ layout defaults */

body {
  padding: 2.5%;
  font-family: $sans;
  background-color: $white;
}

#main_content {
  
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ main layout stuff */

hr.spacer {
  width: 100%;
  border: 0;
  background: none;
  clear: both;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ backend nav stuff */

#backend_menu {
	position: fixed;
	top: 0px;
	right: 50px;
	width: 75px;
	font-family: $sans;
	z-index: 5000;
}
#backend_menu a {
	display: block;
	padding: 5px 10px 5px 10px;
	width: 55px;
  font-size:   13px;
  line-height: 18px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background-color: $black;
	color: white;
}

#return_menu {
	position: absolute;
	top: 0px;
	right: 50px;
	font-family: $sans;
	width: 125px;
	z-index: 5000;
}
#return_menu a {
	display: block;
	padding: 5px 10px 5px 10px;
	width: 105px;
  font-size:   13px;
  line-height: 18px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background-color: #048fdf;
	color: white;
}

#backend_logout {
	position: fixed;
	bottom: 0px;
	right: 50px;
	width: 75px;
	font-family: $sans;
	z-index: 5000;
}
#backend_logout a {
	display: block;
	padding: 5px 10px 5px 10px;
	width: 55px;
  font-size:   13px;
  line-height: 18px;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	background-color: #df4104;
	color: white;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ placeholder stuff */

.placeholder {
  background-color: #ff7bac;
  
  p, ul, ol {
    padding: 24px;
    font-family: $sans;
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: $white;
  }
}

.note {
  font-family: $sans;
  font-size: 24px !important;
  font-weight: 600 !important;
  color: #ff7bac !important;
}

/* ++++++++++++++++++++++++++++++++++++ pagination stuff */

#pagination {
  .spinner {
    width: 100%;
    text-align: center;
  }
  .pagination {
    display: none;
  }
}