$white:           #fff;
$black:           #000;

// instagram colors
$red:             #ff3558;
$yellow:          #ffd200;
$green:           #35ae66;
$blue:            #57aeff;

$lightBrown:      #6c5142;
$medBrown:        #402f25;
$brown:           #31251e;
