$white:           #fff;
$black:           #000;

// instagram colors
$red:             #ff3558;
$yellow:          #ffd200;
$green:           #35ae66;
$blue:            #57aeff;

$lightBrown:      #806455;
$brown:           #534036;
$darkBrown:       #403128;
