body {
  background-color: $lightBrown;
}
#container {
  width: 850px;
  margin: 0 auto;
  #header {
    width: 100%;
    position: fixed;
    left: 0px;
    padding: 4px;
    background-color: $lightBrown;
    .stripe {
      position: absolute;
      left: 50%;
      margin-left: -420px;
      top: -40px;
    }
    .header_text {
      width: 100%;
      text-align: center;
      padding-top: 5px;
      h1 {
        font-size: 72px;
        color: $brown;
      }
    }
  }
  #main {
    padding-top: 180px;
    #left, #middle, #right {
      @include box_sizing_inset;
      height: 40px;
      float: left;
    }
    #left, #right {
      width: 25%;
    }
    #middle {
      width: 50%;
      .featured_lie {
        width: 100%;
        padding: 0px 15px;
        @include box_sizing_inset;
        img {
          width: 100%;
        }
      }
    }
    #left {
      font-family: 'Inconsolata', sans-serif;
      color: $white;
      font-size: 24px;
      .handle {
        color: $brown;
        margin-top: 15px;
      }
      .caption {
        margin-top: 15px;
        p {
          &.this_guy {
            display: inline;
            color: $yellow;
          }
        }
      }
    }
    #right {
      padding-left: 10px;
      .filter_name {
        padding: 20px 0;
        h2 {
          font-size: 36px;
          color: $white;
          text-align: center;
        }
      }
      button {
        display: block;
        background-color: $darkBrown;
        @include border_radius(15px);
        font-family: 'Satisfy', cursive;
        font-size: 24px;
        width: 100%;
        padding: 11px 0 9px;
        margin-top: 20px;
        cursor: pointer;
        &.twitter {
          color: $blue;
        }
      }
    }
  }
}
