#header
  .stripe
    = image_tag "insta_stripe.svg"
  .header_text
    %h1 Haha, right

#main
  #left
    .handle
      %p @dudeman
    .caption
      %p man I hit the beach so hard today look at these wwaves man damn #beach #noway
      %p.this_guy #nofilter
  #middle
    .featured_lie
      = image_tag "examples/insta.jpg"
  #right
    .filter_name
      %h2 Sepia
    %button.twitter Tweet
